@tailwind base;
@tailwind components;
@tailwind utilities;

nav a.active {
  font-weight: 800;
}

section#hero {
  background-image: url("./assets/images/hero-img.jpg");
  height: calc(100vh - 5rem - 5rem);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

section#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6741071428571428) 28%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
}

.hero-text {
  position: relative;
  z-index: 3;
}

.popular-places {
  height: calc(100vh - 10rem);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.popular-tour {
  overflow: hidden;
}

.popular-tour img {
  height: 100%;
  width: 100%;
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  padding: 2rem;
}

.feature-card {
  text-align: center;
}

.featured-tours {
  padding: 2rem 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

/* Chatbot Styles */
@layer components {
  .chat {
    @apply max-w-[30rem];
    .message {
      display: flex;
      gap: 0.5rem;
    }
  }

  .chat .message p {
    @apply p-2 rounded-md;
  }

  .chat-left {
    align-self: flex-start;
    p {
      @apply bg-gray-200;
    }
  }

  .chat-right {
    align-self: self-end;
    .message {
      flex-direction: row-reverse;
    }
    p {
      @apply bg-slate-200;
    }
  }
}
