@tailwind base;
@tailwind components;
@tailwind utilities;

nav a.active {
  font-weight: 800;
}

section#hero {
  background-image: url("./assets/images/hero-img.jpg");
  height: 72vh;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

section#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6741071428571428) 28%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
}

.hero-text {
  position: relative;
  z-index: 3;
}
